## Pyspark dataframes

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark = spark.read.csv('age_1.csv',header = True, inferSchema = True)
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
|  aabbc|NULL|      NULL|  NULL|
+-------+----+----------+------+

## filter opeartions

In [6]:
# salary of people less than 20000
df_pyspark.filter('salary<20000').show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    mom|NULL|        22| 13585|
+-------+----+----------+------+

In [7]:
# if we want selected columns after doing filter then:

df_pyspark.filter('salary < 20000').select(['name','age']).show()

+-------+----+
|   name| age|
+-------+----+
|srinath|  32|
|    mom|NULL|
+-------+----+

In [9]:
# another way to use filter
df_pyspark.filter((df_pyspark['salary']> 20000)|
                  (df_pyspark['age']> 30)).show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
+-------+----+----------+------+

In [10]:
# another way to use filter
df_pyspark.filter((df_pyspark['salary']> 20000) &
                  (df_pyspark['age']> 30)).show()

+----+---+----------+------+
|name|age|experience|salary|
+----+---+----------+------+
| kad| 31|         5| 62613|
| dad| 45|        23| 96512|
|NULL| 64|      NULL| 65465|
+----+---+----------+------+