# Pyspark handling missing values
- dropping columns
- dropping rows
- various parameters in dropping functionalites
- handling missing values in mean, median, mode

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [55]:
spark.read.csv('age_1.csv', header = True, inferSchema = True) # if inferSchema is false it will consider all the values as string

DataFrame[name: string, age: int, experience: int, salary: int]

In [56]:
df_pyspark = spark.read.csv('age_1.csv', header = True, inferSchema = True)
# if inferSchema = True it will consider the strings as strings and numbers as int

In [48]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
|  aabbc|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [43]:
## drop the columns
df_pyspark.drop('name').show()

+----+----------+------+
| age|experience|salary|
+----+----------+------+
|  32|         4| 10000|
|  31|         5| 62613|
|   3|         2| 51658|
|  45|        23| 96512|
|NULL|        22| 13585|
|  88|        32|  NULL|
|  64|      NULL| 65465|
|NULL|        39| 65489|
|  22|      NULL| 33333|
|NULL|      NULL|  NULL|
+----+----------+------+

In [26]:
df_pyspark.show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
|  aabbc|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [27]:
# it will drop all the rows where null values are present

df_pyspark.na.drop().show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|srinath| 32|         4| 10000|
|    kad| 31|         5| 62613|
|    das|  3|         2| 51658|
|    dad| 45|        23| 96512|
+-------+---+----------+------+

In [28]:
## any = how
df_pyspark.na.drop(how = 'all').show() # it will drop the rows only if all the columns are null in that particular row

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
|  aabbc|NULL|      NULL|  NULL|
+-------+----+----------+------+

In [29]:
df_pyspark.na.drop(how = 'any').show() # it will drop the rows if any one particular column in that row has a null value
# by default how value should be any

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|srinath| 32|         4| 10000|
|    kad| 31|         5| 62613|
|    das|  3|         2| 51658|
|    dad| 45|        23| 96512|
+-------+---+----------+------+

In [30]:
# threshold
df_pyspark.na.drop(how = 'any', thresh =2).show()  # it will check the threshold of not null values, 
# in the above the syntax means :incase if there are atlest 2 not null values, keep them in the rows else delete the row.

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
|   NULL|  64|      NULL| 65465|
| sachin|NULL|        39| 65489|
|  dhoni|  22|      NULL| 33333|
+-------+----+----------+------+

In [31]:
#subset -- means applying the drop command to any particular column
df_pyspark.na.drop(how = 'any',subset = 'experience').show()

+-------+----+----------+------+
|   name| age|experience|salary|
+-------+----+----------+------+
|srinath|  32|         4| 10000|
|    kad|  31|         5| 62613|
|    das|   3|         2| 51658|
|    dad|  45|        23| 96512|
|    mom|NULL|        22| 13585|
| dravid|  88|        32|  NULL|
| sachin|NULL|        39| 65489|
+-------+----+----------+------+

In [44]:
df_pyspark.na.drop(how = 'any',subset = 'age').show() # in the age column where ever there are null values that rows are deleted

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|srinath| 32|         4| 10000|
|    kad| 31|         5| 62613|
|    das|  3|         2| 51658|
|    dad| 45|        23| 96512|
| dravid| 88|        32|  NULL|
|   NULL| 64|      NULL| 65465|
|  dhoni| 22|      NULL| 33333|
+-------+---+----------+------+

In [49]:
## fill the missing values
df_pyspark.na.fill('hare Krishna').show()

+------------+------------+------------+------------+
|        name|         age|  experience|      salary|
+------------+------------+------------+------------+
|     srinath|          32|           4|       10000|
|         kad|          31|           5|       62613|
|         das|           3|           2|       51658|
|         dad|          45|          23|       96512|
|         mom|hare Krishna|          22|       13585|
|      dravid|          88|          32|hare Krishna|
|hare Krishna|          64|hare Krishna|       65465|
|      sachin|hare Krishna|          39|       65489|
|       dhoni|          22|hare Krishna|       33333|
|       aabbc|hare Krishna|hare Krishna|hare Krishna|
+------------+------------+------------+------------+

In [50]:
df_pyspark.na.fill('missing value','experience').show()

+-------+----+-------------+------+
|   name| age|   experience|salary|
+-------+----+-------------+------+
|srinath|  32|            4| 10000|
|    kad|  31|            5| 62613|
|    das|   3|            2| 51658|
|    dad|  45|           23| 96512|
|    mom|NULL|           22| 13585|
| dravid|  88|           32|  NULL|
|   NULL|  64|missing value| 65465|
| sachin|NULL|           39| 65489|
|  dhoni|  22|missing value| 33333|
|  aabbc|NULL|missing value|  NULL|
+-------+----+-------------+------+

In [51]:
df_pyspark.na.fill('missing',['experience','age']).show()

+-------+-------+----------+------+
|   name|    age|experience|salary|
+-------+-------+----------+------+
|srinath|     32|         4| 10000|
|    kad|     31|         5| 62613|
|    das|      3|         2| 51658|
|    dad|     45|        23| 96512|
|    mom|missing|        22| 13585|
| dravid|     88|        32|  NULL|
|   NULL|     64|   missing| 65465|
| sachin|missing|        39| 65489|
|  dhoni|     22|   missing| 33333|
|  aabbc|missing|   missing|  NULL|
+-------+-------+----------+------+

In [53]:
# replacing missing values with their mean, median or mode
#we use imputer function

from pyspark.ml.feature import Imputer

imputer = Imputer(
inputCols = ['age','experience','salary'],
outputCols = ["{}_imputed".format(c) for c in ['age','experience','salary']]).setStrategy("mean")

In [57]:
# add imputation columns to dataframe
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|srinath|  32|         4| 10000|         32|                 4|         10000|
|    kad|  31|         5| 62613|         31|                 5|         62613|
|    das|   3|         2| 51658|          3|                 2|         51658|
|    dad|  45|        23| 96512|         45|                23|         96512|
|    mom|NULL|        22| 13585|         40|                22|         13585|
| dravid|  88|        32|  NULL|         88|                32|         49831|
|   NULL|  64|      NULL| 65465|         64|                18|         65465|
| sachin|NULL|        39| 65489|         40|                39|         65489|
|  dhoni|  22|      NULL| 33333|         22|                18|         33333|
|  aabbc|NULL|      NULL|  NULL|         40|                18|         49831|
+-------+----+----------+------+-----------+------------------+--------------+

In [59]:
imputer = Imputer(
inputCols = ['age','experience','salary'],
outputCols = ["{}_imputed".format(c) for c in ['age','experience','salary']]).setStrategy("median")

In [60]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|srinath|  32|         4| 10000|         32|                 4|         10000|
|    kad|  31|         5| 62613|         31|                 5|         62613|
|    das|   3|         2| 51658|          3|                 2|         51658|
|    dad|  45|        23| 96512|         45|                23|         96512|
|    mom|NULL|        22| 13585|         32|                22|         13585|
| dravid|  88|        32|  NULL|         88|                32|         51658|
|   NULL|  64|      NULL| 65465|         64|                22|         65465|
| sachin|NULL|        39| 65489|         32|                39|         65489|
|  dhoni|  22|      NULL| 33333|         22|                22|         33333|
|  aabbc|NULL|      NULL|  NULL|         32|                22|         51658|
+-------+----+----------+------+-----------+------------------+--------------+