In [1]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\ksrin\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\ksrin\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('age.csv')

      name  age
0  srinath   32
1   aparna   31
2  sahasra    3

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('practice').getOrCreate()
spark

In [5]:
df_pyspark = spark.read.csv('age.csv')

In [6]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|srinath| 32|
| aparna| 31|
|sahasra|  3|
+-------+---+

In [11]:
df_pyspark = spark.read.option('header','true').csv('age.csv')

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)