## group by and aggregate

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Aggregate').getOrCreate()

In [3]:
spark

In [4]:
df_pyspark = spark.read.csv('test3.csv',header = True, inferSchema = True)

In [5]:
df_pyspark

DataFrame[name: string, dept: string, salary: int]

In [6]:
df_pyspark.show()

+-------+------------+------+
|   name|        dept|salary|
+-------+------------+------+
|srinath|data science| 10000|
|srinath|         IOT|  5000|
| mahesh|    big data|  4000|
|srinath|    big data|  4000|
| mahesh|data science|  3000|
| rakesh|data science| 20000|
| rakesh|         IOT| 10000|
| rakesh|    big data|  5000|
|    sam|data science| 10000|
+-------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: integer (nullable = true)

In [12]:
# group by
df_pyspark.groupby('name').sum()

DataFrame[name: string, sum(salary): bigint]

In [13]:
df_pyspark.groupby('name').sum().show() # grouped to find the sum of their total salary

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
| rakesh|      35000|
| mahesh|       7000|
|    sam|      10000|
|srinath|      19000|
+-------+-----------+

In [17]:
# select max salary in each dept
df_pyspark.groupby('dept').max().show()

+------------+-----------+
|        dept|max(salary)|
+------------+-----------+
|         IOT|      10000|
|    big data|       5000|
|data science|      20000|
+------------+-----------+

In [14]:
## group by departments which give max salary
df_pyspark.groupby('dept').sum().show()

+------------+-----------+
|        dept|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    big data|      13000|
|data science|      43000|
+------------+-----------+

In [15]:
# find the mean of the salary group by dept
df_pyspark.groupby('dept').mean().show()

+------------+-----------------+
|        dept|      avg(salary)|
+------------+-----------------+
|         IOT|           7500.0|
|    big data|4333.333333333333|
|data science|          10750.0|
+------------+-----------------+

In [16]:
# check how many employees are working in each dept
df_pyspark.groupby('dept').count().show()

+------------+-----+
|        dept|count|
+------------+-----+
|         IOT|    2|
|    big data|    3|
|data science|    4|
+------------+-----+